@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-p8na1r');
    src: url('fonts/icomoon.eot?#iefix-p8na1r') format('embedded-opentype'),
        url('menu.woff') format('woff'),
        url('fonts/icomoon.ttf?-p8na1r') format('truetype'),
        url('fonts/icomoon.svg?-p8na1r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-search:before {
	content: "\e986";
}
.icon-switch:before {
	content: "\e9b6";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-minus:before {
	content: "\ea0b";
}


/* A partir d'aquí és el que faig jo, el de dalt no sé què és */

body{
	font-family: sans-serif;
	background-color: lightgrey;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
	padding-top: 1em;
	margin-bottom: 0.5em;
}

ul{
	list-style: none;
	font-size: 1em;
}

.List-1 li{
	display: inline-block;
	background-color: #5ACE77;
	color: #5E0272;
	font-weight: bold;
	border: dashed 5px #954A95;
	margin-right: 1em;
	width: 10em;
	padding: 0.5em 0em;
	text-align: center;
}

ul.List-2{
	text-align: center;
}

.List-2 li{
	display: inline-block;
	background-color: white;
	margin: 0em 0.5em;
	padding: 0.25em 0.5em;
	border: 2px solid;
	border-color: white black black white;

}

.List-3 li{
	border: black 1px solid;
	width: 9em;
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
	background-color: white;
}

ul.List-3 {
	border: black 1px solid;
	width: 11em;
	padding: 0.5em;
	text-align: center;
}

ul.List-4{
	text-align: center;
}

.List-4 li{
	display: inline-block;
	font-weight: bold;
	width: 10em;
	background-color: #36c;
	color: white;
	padding: 0.5em 0;
}

#List-4-special{
	background-color: white;
	color: #36c;
}	

.List-5 li{
	display: inline-block;
	margin-right: 2em;
}

ul.List-6{
	text-align: center;
}

.List-6 li{
	display: inline-block;
	background-color: white;
	padding: 0.5em;
	border: black 0.1em solid;
	border-radius: 0.3em;
	font-size: 200%;
	margin: 0.1em 1em 0.5em 0.1em;

}



